.TodoItem {
    display: flex;
    align-items: center;
    font-size: 2rem;
    width: 100%;
    padding: 1.2rem;
    font-size: 2rem;
    border-radius: 0.8rem;
    background-color: white;
    margin-top: 0.8rem;
    color: var(--main-text-color);
}

.TodoItem__text {
    margin-left: 1.2rem;
    width: 100%;
}

.TodoItem__text--completed {
    text-decoration: line-through;
    text-decoration-color: gray;
}
